*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
:root{
    --headcolor: rgb(27, 27, 27);
    --backcolor: rgb(0, 0, 0);
    --bodycolor: rgb(34, 34, 34);
    --fontcolor: rgb(255, 255, 255);
}
body{
    background-color: var(--headcolor);
}
.nav{
    position: fixed;
    background-color: var(--headcolor);
    height: 10vh;
    left: 0;
    right: 0;
    top: 0;
    width: '100%';
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    z-index: 4;
}
form{
    color: var(--fontcolor);
    margin-right: 2px;
}
.nav h1{
    color: var(--fontcolor);
}
.backimg{
    background-color: var(--backcolor);
    height: 100vh;
}

.mainContent{
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#noOfBox{
    width: 50px;
    padding: 3px;
}
#speedLevel{
    position: fixed;
    top: 24%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    padding: 2px;
    font-size: medium;
}
#start{
    position: fixed;
    top: 19%;
    left: 50%;
    transform: translateX(-50%);
}
#sortType{
    position: fixed;
    color: white;
    display: flex;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
#sortType option{
    background-color: white;
    font-size: 14px;
    color: black;
}
#currentSortType{
    background-color: transparent;
    border: none;
    color: var(--fontcolor);
    font-family: sans-serif;
    font-weight: 600;
    font-size: clamp(18px, 8vw, 32px)
}
#currentSortType:focus{
    outline: none;
}
#prompt{
    position: absolute;
    color: rgb(255, 0, 0);
    top: 32%;
    left: 50%;
    transform: translate(-50%)
}
#displayScreen{
    display: flex;
    width: 95%;
    height: 70vh;
    flex-wrap: wrap-reverse;
    position: relative;
    justify-content: center;
    top: 28vh;
    border-radius: 10px;
    margin: 0px auto 0px auto;

}
#submitBtn{
    padding: 3px;
}
.box{
    z-index: 2;
    background-image: linear-gradient(0deg, rgb(43, 43, 43), lightgrey);
}
.written-section{
    position: relative;
    min-height: 100vh;
    background-color: var(--bodycolor);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.written-content{
    max-width: 1000px;
    min-height: 80vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#written-heading{
    color: var(--fontcolor);
}
.information-manager{
    display: flex;
    flex-wrap: wrap;
}
#paragraph-content{
    max-width: 600px;
    margin: 10px;
    font-size: 1.2rem;
    color: var(--fontcolor);
}
#complexity-table{
    max-width: 400;
    margin: 10px;
}
table, th, td{
    border: 1px solid var(--fontcolor);
    color: var(--fontcolor);
}
td{
    padding: 5px;
}
#imageHandler{
    margin-top: 20px;
    max-width: 300px;
    object-fit: cover;
}
footer{
    position: relative;
    min-height: 40vh;
    background-color: var(--headcolor);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--fontcolor);
}
#footer-wrapper{
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-sections{
    margin: 0 1rem;
}
.footer-images{
 height: 40px;   
}
#byauthor{
    margin-top: 40px;
}
