*{
    margin: 0;
    padding: 0;

}
body{
    background-color: rgb(40, 40, 40);
}
nav{
    position: fixed;
    background-color: rgb(27, 27, 27);
    height: 10vh;
    width: 94vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    z-index: 4;
}
nav h1{
    color: white;
}
.mainContent{
    height: 100vh;
    width: 100%;
    background-color: rgb(40, 40, 40);
}
.configure{
    border-radius: 10px;
    background-color: rgb(27, 27, 27);
    color: white;
    position: relative;
    top: 12vh;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
}
#noOfBox{
    width: 50px;
    padding: 5px;
}
.formEle1{
    display: flex;
    flex-direction: column;
}
.eachEle{
    margin: 10px 0px;
}
.formEle2{
    display: flex;
    justify-content: center;
}
#displayScreen{
    display: flex;
    width: 95%;
    height: 60vh;
    flex-wrap: wrap-reverse;
    position: relative;
    justify-content: center;
    top: 13.5vh;
    border-radius: 10px;
    margin: 0px auto 0px auto;

}
button{
    padding: 5px;
}
.box{
    z-index: 2;
    background-image: linear-gradient(70deg, rgb(34, 34, 34), lightgrey);
}
.written-section{
    height: 100vh;
    background-color: black;
    z-index: 3;
}